$text1: #64c29e;
$text2: #848789;
$text3: #353738;
$text4: #f7f7f7;
$text5: #929292;
$text6: #fff;

$bg1: #64c29e;
$bg2: #4d4959;
$bg3: #f7f7f7;
$bg4: #d7d7d7;
$bg5: #76c2a3;
$bg6: #282f35;

$border1: #848789;

$twit: #56c7ee;
$fb: #537bbd;
$pin: #eb5755;
$inst: #E1306C;