@import 'global';
@import 'vars';
@import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


// Header start

.header {
  position: absolute;
  top: 35px;
  width: 100%;
  z-index: 5;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;

    @media (max-width: 849px) {
      justify-content: flex-end;
    }
  }

  &__nav {
    display: flex;
  }

  &__list {

    li {
      display: inline-block;

      &+li {
        margin-left: 70px;
      }
    }

    li:first-child,
    li:nth-child(3) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 2px;
        right: -35px;
        bottom: 7px;
        background-color: $bg1;
        border-radius: 50%;
      }
    }

    li:nth-child(2) {
      margin-right: 110px;
    }

    li:nth-child(3) {
      margin-left: 110px;
    }

    @media (max-width: 849px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      li {
        display: block;

        &+li {
          margin-left: 0;
          margin-top: 40px;
        }
      }

      li:nth-child(2) {
        margin-right: 0;
      }

      li:nth-child(3) {
        margin-left: 0;
      }

      li:first-child {
        &::after {
          display: none;
        }
      }

      li:nth-child(2),
      li:nth-child(3),
      li:last-child {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 2px;
          right: 50%;
          transform: translateX(-50%);
          top: -20px;
          background-color: $bg1;
          border-radius: 50%;
        }
      }
    }
  }

  &__link {
    color: $text1;
    text-transform: uppercase;
    transition: color .3s;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: $bg1;
      top: 50%;
      transform: translateY(-50%);
      transform: scale(0);
      transition: transform .3s;
      display: none;
    }

    &::before {
      left: -70px;
    }

    &::after {
      right: -70px;
    }

    &:hover,
    &:focus {
      color: rgba($text1, .8);

      &::before,
      &::after {
        transform: scale(1);
      }
    }

    @media (max-width: 849px) {
      font-size: 20px;

      &::before,
      &::after {
        display: block;
      }
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    @media (max-width: 849px) {
      left: 70px;
    }

    @media (max-width: 399px) {
      width: 72px;
      height: 65px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__burger {
    z-index: 5;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;

    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $bg1;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $bg1;
      transition: all .3s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      span:first-child {
        transform: rotate(45deg);
      }

      span:last-child {
        transform: rotate(-45deg);
      }

      &::before,
      &::after {
        transform: scale(0);
      }
    }

    @media (max-width: 849px) {
      display: block;
      margin-right: 30px;
    }
  }

  @media (max-width: 849px) {
    &__menu {
      position: fixed;
      overflow: auto;
      top: 0;
      right: -100%;
      transform: translateX(100%);
      background-color: $bg2;
      width: 100%;
      height: 100%;
      transition: transform .5s;

      &.active {
        right: 0;
        transform: translateX(0);
      }
    }
  }
}

// Description

.desc {
  background-color: $bg3;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 0;
    height: 0;
    border-top: 30px solid $bg3;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
  }

  &__content {
    padding: 100px 0;
    text-align: center;

    @media (max-width: 600px) {
      padding: 20px 0 50px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: rotate(45deg);
    }
  }

  &__title {
    margin-bottom: 30px;

    &::after {
      bottom: -18px;
    }

    @media (max-width: 600px) {
      line-height: 24px;
    }
  }
}

// Brand

.brand {

  &__inner {
    display: flex;

    @media (max-width: 1050px) {
      flex-direction: column;
    }
  }

  &__box {
    flex: 0 1 33.333%;

    &-lp{
      order: 1;

      @media (max-width: 1050px) {
        order: 0;
      }
    }

    &-fender{
      position: relative;
      flex: 0 1 33.333%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        .brand__hover-main {
          opacity: 1;
          visibility: visible;
        }
      }

      @media (max-width: 1050px) {
        height: auto;
        padding-bottom: 60%;
      }
    }

    &-main {
      position: relative;
      flex: 0 1 66.667%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover{
        .brand__hover-main{
          opacity: 1;
          visibility: visible;
        }
      }

      @media (max-width: 1050px) {
        height: auto;
        padding-bottom: 60%;
      }
    }
  }

  &__info {
    padding: 60px 60px 80px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      width: 0;
      height: 0;
      border-top: 20px solid #fff;
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
    }

    @media (max-width: 1150px) {
      padding: 30px 30px 60px;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    &::after {
      bottom: -10px;
    }
  }

  &__img {
    width: 100%;
    padding-bottom: 37.51%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__hover {
    color: $text4;
    font-size: 42px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;

    span{
      margin-left: 20px;
    }

    &-main {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background-color: rgba($bg5, .5);
      opacity: 0;
      visibility: hidden;
      transition: visibility .3s, opacity .3s;
    }
  }
}